<launch>

  <!-- <include file="$(find yahboomcar_laser)/launch/lidar.launch"/> -->
  
  <!-- <include file="$(find yahboomcar_multi)/launch/library/usb_cam.launch"/> -->

  <!-- <include file="$(find yahboomcar_bringup)/launch/yahboomcar.launch"/> -->

  <!-- ROS Bridge WebSocket Server -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
    <arg name="port" value="9090"/>
  </include>

  <!-- Mode Manager Node -->
  <node pkg="mode_manager" type="mode_manage.py" name="mode_manager" output="screen"/>

  <!-- Central Control Node -->
  <node pkg="central_control" type="CentralNode.py" name="central_node" output="screen"/>

  <!-- Patrol Control Node -->
  <node pkg="patrol_node" type="patrol_node.py" name="patrol_node" output="screen"/>

  

</launch>